<section>
    <div class="container">
        <div class="row">
            <div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Productos</li>
				</ol>
			</div>
            <div class="col-sm-9 padding-right">
                <div class="features_items"><!--features_items-->
                    <h2 class="title text-center">Productos</h2>
                    <div class="col-sm-3" *ngFor="let producto of listaProductos">
                        
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src={{producto.Imagen}} width="100px" alt="" height="150px"/>
                                        <h2>{{producto.Nombre}}</h2>
                                        <p>Descripcion: {{producto.Descripcion}}</p>
                                        <p>Cant. Disp.: {{producto.Cantidad}}</p>
                                        <!--<p>Precio: {{producto.Precio}}</p>-->
                                    <!-- <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>-->
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2>Q {{producto.Precio}}</h2>                                
                                            <a  class="btn btn-default add-to-cart" (click)="AgregarCarrito(producto)"><i class="fa fa-shopping-cart"></i>Agregar al carrito</a>
                                        </div>
                                    </div>
                            </div>
                            <!--<div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                                </ul>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="mostrarMensajeError" class="row justify-content-around">
        <div class="col-md-5">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{mensajeError}}
                <button type="button" (click)="desactivarMensaje()" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</section>



