<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let productoCarro of listaCarro">
                        <td class="cart_product">
                            <a href=""><img src={{productoCarro.Imagen}} width="50px" alt="" height="50px"></a>
                        </td>
                        <td class="cart_description">
                            <h4><a >{{productoCarro.Nombre}}</a></h4>                            
                        </td>
                        <td class="cart_price">
                            <p>Q {{productoCarro.Precio}}</p>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                <a class="cart_quantity_up" (click)="Agregar(productoCarro, 1)"> + </a>
                                <input class="cart_quantity_input" type="text"  min="0" max="{{productoCarro.CantidadMax}}" name="quantity"  autocomplete="off" size="2" [(ngModel)]="productoCarro.Cantidad" (NgModelChange)="checkValue(productoCarro)" >
                                <a class="cart_quantity_down" (click)="Agregar(productoCarro, -1)"> - </a>
                            </div>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">Q{{productoCarro.Cantidad * productoCarro.Precio}}</p>
                        </td>
                        <td class="cart_delete">
                            <a class="cart_quantity_delete" (click)="EliminarDeCarrito(productoCarro)"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<section id="do_action">
    <div class="container">
        <div class="heading">
            <h3>What would you like to do next?</h3>
            <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="total_area">
                    <ul>
                        <!--<li>Cart Sub Total <span>$59</span></li>-->
                        <!--<li>Eco Tax <span>$2</span></li>-->
                        <!--<li>Shipping Cost <span>Free</span></li>-->
                        <li>Total <span>Q {{Total}}</span></li>
                    </ul>
                        <a class="btn btn-default update" href="/vertiendas">Agregar mas productos al carrito</a>
                        <a class="btn btn-default check_out" (click)="TeriminarPedido()" href="/">Finalizar Pedido</a>
                </div>
            </div>
        </div>
    </div>
</section>



<div *ngIf="mostrarMensajeError" class="row justify-content-around">
    <div class="col-md-5">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{mensajeError}}
            <button type="button" (click)="desactivarMensaje()" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>

